@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Admin/Index.cshtml";
}


<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-chart-line fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Aktif Kategori Sayısı</p>
					<h6 class="mb-0">@ViewBag.activeCategoryCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-chart-bar fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Aktif Çalışan Sayısı</p>
					<h6 class="mb-0">@ViewBag.activeEmployeeCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-home fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Daire Sayısı</p>
					<h6 class="mb-0">@ViewBag.apartmentCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-database fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Ortalama Kira Tutarı</p>
					<h6 class="mb-0">@ViewBag.avarageProductPriceByRent</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-chart-pie fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Ortalama Satış Tutarı</p>
					<h6 class="mb-0">@ViewBag.avarageProductPriceBySale</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-bed fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Ortalama Oda Sayısı</p>
					<h6 class="mb-0">@ViewBag.avarageRoomCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-calendar fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Kategori Sayısı</p>
					<h6 class="mb-0">@ViewBag.categoryCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-fire fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">En Fazla Ürün Olan Kategori</p>
					<h6 class="mb-0">@ViewBag.categoryNameByMaxProductCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-map-marker fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">En Fazla Ürün Olan Şehir</p>
					<h6 class="mb-0">@ViewBag.cityNameByMaxProductCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-globe fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Toplam Bölge Sayısı</p>
					<h6 class="mb-0">@ViewBag.differentCityCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-user fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">En Fazla Ürüne Sahip Personel </p>
					<h6 class="mb-0">@ViewBag.employeeCountByMaxProductCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-credit-card fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Eklenen Son Ürünün Fiyatı</p>
					<h6 class="mb-0">@ViewBag.lastProductPrice</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-compass fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">En Yeni Bina Yılı ve Lokasyonu</p>
					<h6 class="mb-0">@ViewBag.newsBuildingYear</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-plane fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">En Eski Bina Yılı ve Lokasyonu</p>
					<h6 class="mb-0">@ViewBag.oldesBuildingYear</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-battery-empty fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Pasif Kategori Sayısı</p>
					<h6 class="mb-0">@ViewBag.passiveCategoryCount</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3">
			<div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
				<i class="fa fa-bell fa-3x text-primary"></i>
				<div class="ms-3">
					<p class="mb-2">Toplam Ürün Sayısı</p>
					<h6 class="mb-0">@ViewBag.productCount</h6>
				</div>
			</div>
		</div>
	</div>
</div>

